/* font family */

@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;800&display=swap');



/* shared styles */
*{
    font-family: 'Mulish', sans-serif;
}


.Primary-btn{
    color: white;
    background: #FF5400;
    border-radius: .5rem;
    border: none;
    padding: 1rem 2.125rem ;
}

/* header styles */

header{
    margin-bottom: 6.25rem;
    
}

/* nav styles */

nav{
    display: flex;
    justify-content: space-between;
}

 nav ul{
    display: flex;
    gap: 2.5rem;
}

nav li{
    list-style: none;
}

/* banner styles */

.banner-context{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.txt-inptbar{
    position: absolute;


}

.banner-txt h1, p{
    text-align: center;
    color: white;
}

.input-bar{
    display: flex;
    justify-content: center;
    background: rgba(255, 255, 255, 0.30);
    padding: 1rem;
    border-radius: .5rem;

}

.input-bar input{
    padding-top: 1rem;
    padding-left: 1rem;
    padding-bottom: 1rem ;
    border-radius: .5rem;
    border: none;
    margin: 0rem 1rem 0rem 0rem;
}

    /*  main section */

    /* section 2 */

.popular-tours-container{
    display: flex;
    justify-content: center;
    margin-bottom: 6.25rem;
    gap: 5rem;
}

.txt-list-btn{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}


.popular-tours-txt h1{
    color: #131318;
    margin-bottom: 1.5rem;
}

.popular-tours-txt p{
    color: #5A5A5D;
    text-align: left;
    margin-bottom: 1.5rem;
    line-height: 1.6rem;    
}

.popular-tours-txt li{
    margin-bottom: 1.5rem;
    line-height: 1.6rem;
}

.txt-list-btn .Primary-btn{
    margin-right: 28rem;
}


/* section 3 */

.Chose-your-destination-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.CYD-txt{
    text-align: center;
}


.CYD-txt p{
    color: rgba(19, 19, 24, 0.70);
}

.CYD-imgs{
    display: flex;
    flex-direction: column;
    justify-content: center;   

}


.img-txt{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
}


/* section-4 */

.section-4-container{
    margin-top: 6.25rem;
}

.section-4-txt p{
    color: #5A5A5D;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
}

.cards p{
    color: #5A5A5D;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
    text-align: left;
}

.section-4-txt{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cards{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

.card-1-2{
    display: flex;
    justify-content: center;
    gap: 1.5rem;
}



.card-1{
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    padding: 2rem;
}
.card-2{
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
    padding: 2rem;
}
.card-3{
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
    padding: 2rem;
}

/* section-5 */

.section-5-container{
    display: flex;
    justify-content: center;
    margin-top: 6.25rem;
}

.form-img{
    display: flex;
    justify-self: center;
    gap: 1.2rem;
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 16px;
    border: 1px solid #FF5400;
    padding: 1.2rem 2.5rem;
}

.form-txt p{
    color: #5A5A5D;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
    text-align: left;
}

.form input{
    padding: 1rem;
    border-radius: .5rem;
    border: none;
    background: rgba(19, 19, 24, 0.05);

}

/* Footer */

.footer-contant{
    margin-top: 6.25rem;
    padding: 7rem;
    background: rgba(19, 19, 24, 0.05);
}

.footer-txt h1{
    text-align: center;
    margin-bottom: 3rem;
}

.footer-txt p{
    color: #131318;
    margin-bottom: 3rem;
}

 .icons{
    border: #5A5A5D solid;
    border-width: 0 0 .1rem 0;
    margin-bottom: 3rem;
 
}

.footer-contant .rights p{
    color: #131318;

}

























/* media quaries */

@media screen and (max-width: 600px){
    

    /* hearder */

    .input-bar{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .txt-inptbar{
        padding: 1rem;
    }

    .input-bar input{
        margin: 0rem 0rem 1rem 0rem;
    }

    /*  main section */


    .popular-tours-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .popular-tours-txt{
        padding: 0rem 1rem;
    }

    .txt-list-btn .Primary-btn{
        margin-right: 16rem;
        margin-left: 1rem;
        padding: 1rem 2rem;
    }
    
    /* section-3 */

    .CYD-imgs, .row-1, .row-2, .row-3{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1rem;
    }


    /* section-4 */

    .card-1-2{
        flex-direction: column;
    }

    /* section-5 */

        .form-img{
            flex-direction: column;
        }

        .form{
            padding: 1.2rem 2.5rem;
        }
    /* footer */

    .footer-contant{
        margin-top: 6.25rem;
        padding: 2rem;
    }

}
    

/* For tablet */

@media (min-width: 601px) and (max-width: 992px) {

}


/* for laptop and desktop */

@media (min-width: 993px) {

}